<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note2.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note2.note %>
</p>

<%= link_to 'Edit', edit_note2_path(@note2) %> |
<%= link_to 'Back', note2s_path %>
